<li>
	<div class="field">
		<%= f.object.text %><br />

		<%= f.fields_for :options, f.object.options do |builder| %>
		  <!-- < %= render 'option_fields', :f => builder, :locals => { :question => f.object.text } %> -->
			<div class="field">
			  <%= radio_button_tag f.object.id, builder.object.id %><%= builder.object.text %>
			</div>
		<% end %>
	</div>
</li>