<h2>Questions</h2>
<%= f.fields_for :questions do |builder| %>
  <%= render 'question_fields', :f => builder %>
<% end %>
<div class="actions">
  <%= f.submit "Add question", :name => 'new_question_button' %>
</div>
