

<div id="public_polls">
  <h1>Public polls</h1>
  <%= render 'public_polls' %>
</div>
<div id="my_polls">
  <h1>My polls</h1>
  <% if user_signed_in? %>
    <%= render 'my_polls' %>
  <% else %>
    Please <%= link_to('Login', new_user_session_path)  %> to view your polls
  <% end %>
</div>