/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/* Styles for main page */

/* Page body area */
#easypoll {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	
}

/* Page header area */
#header {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	border-color: #F30;
	background-color: #F90;
	text-align: center;
	font-family: Verdana, Geneva, serif;
	font-size: 40px;
	line-height: 40px;
	font-variant: small-caps;
	color: #F30;
}

/* Login/Logout area */
#login {
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-align: right;
	background-color: #FF6;
}

/* Main page area */
#main {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: left;
	background-color: #FFF;
}

/* Page footer area */
#footer {
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-align: right;
	background-color: #FF6;
}